// Image
image-background = 'images/checker.png'

// Color
color-background = #6C7989
color-font = #555
color-link = #069
color-strong = #222

// Font
font-default = Lato,"微软雅黑","Helvetica Neue", "Helvetica", Arial, sans-serif
font-serif = "Georgia", serif
font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-title = Lato,"微软雅黑","Droid Serif", Helvetica Neue, Helvetica, Arial, sans-serif

@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400italic,700italic,400,700")

font-icon = FontAwesome
@import url("http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css")
// Width
page-width = 670px
