.blog-post-comments {
    margin-top: 4rem;
    &.v {
        .power{
            display: none;
        }
        a:hover {
            color: #1abc9c;
            }
        * {
            color: #c9cacc;
        }

        .vwrap {
            background: #212326;
            border: none;
            .vheader {
                .vinput {
                    border-bottom: 1px #dedede double;
                }
            }
        }
        .vempty {
            pre {
                color: #555;
            }
        }
        .vlist {
            .vcard {
                .vquote{
                    border-left: 1px dashed #212326;
                }
                .vh {
                    border-bottom: 1px dashed #212326;
                    .vmeta .vat{
                    color: #1abc9c;
                }
                    }
    
                .vhead {
                    .vsys{
                        background: none;
                    }
                    .vnick:hover {
                        color: #1abc9c;
                    }
                }
            }
        }
    }

}
